/***** BASE STYLES *****/
@font-face {
    font-family: 'Wisdom Script Regular';
    font-style: normal;
    font-weight: normal;
    src: local('../Wisdom Script Regular'), /*EDITOR DOESN'T LIKE THE QUOTES HERE. WHY?*/
        /*local(../'Wisdom Script AJ.woff'),*/
        url('../Wisdom Script AJ.woff') format('woff');
}

body {
	color: #2B2B2B;
	font-family: 'Montserrat', sans-serif;
}

span, nav, #welcome h2 {
    color: #77a466;
}

#footer span {
    text-transform: lowercase;
}

h1, h2, h3 {
    text-transform: uppercase;
}

p { /* IS THIS EVEN DOING ANYTHING? */
    font-weight: 600;
}

/*header, #welcome { /*** removed at Caroline's suggestion ***
    padding-left: 25px;
}*/

/***** GRID *****/
/**** took this out because it was pushing everything left; put it back at Sharon's suggestion :) ***/
.full-width {  
    margin: 0 auto;
    overflow: auto;
    width: 1200px;
}

/***** HEADER *****/ 
/*** ? - WHY IS THE NAV SO FAR FROM RIGHT MARGIN? ***/

.title {
    float: left;
    font-family: 'Montserrat 900', sans-serif;
    font-weight: bold;
    width: 500px; /*600px*//*50% worked, but Sharon suggested not using % yet*/
}

nav {
    float: right; 
    /*font-size: 10px; * THIS DOESN'T APPEAR TO CHANGE THE NAV FONT SIZE*/
    width: 700px; /*650px*600px*//*50% worked, but Sharon suggested not using % yet*/
}

nav ul li{ /*** ? - SEPARATE OUT THE UL AND THE LI? ***/
    display: inline-block;
    /*font-size: 10px; * THIS DOESN'T APPEAR TO CHANGE THE NAV FONT SIZE*/
    padding-left: 29px; /*29px*/
    padding-top: 20px;
}

nav ul li a {
    color: #77a466;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

/***** WELCOME *****/

#welcome {
    border-bottom: 1px solid grey;
    clear: both; 
}

#welcome h2 {
    font-weight: 600;
    padding-top: 10px; /*80px*/
}

#welcome p { /*** ? - WHY DOES THIS P EXTEND FURTHER RIGHT THAN THE NAV BAR? ***/
    font-weight: 600;
    margin-bottom: 30px;
}

/***** SPECIALS *****/

#specials {
    border-right: 1px solid grey; 
    float: left;
    height: 300px;
    margin: 0px 20px 0px 0px;
    padding: 10px; /*20px*/
    width: 250px;
}

#specials li {
    color: #77a466;
    list-style: none;
}

/***** REVIEWS *****/

#reviews {
    border-right: 1px solid grey;
    float: left;
    height: 300px;
    margin: 0px;
    padding: 10px;
    width: 500px;
}


/***** CONTACT *****/

#contact {
    float: left;
    height: 300px;
    margin: 0px 0px 0px 20px;
    padding: 10px;
    width: 250px;
}

#contact p {
    line-height: 15px;
}

/***** FOOTER *****/
/*** ? - WHY IS THE FOOTER NOT CENTERED? ***/

#footer {
    border-top: 1px solid grey;
    clear: both;
    text-align: center;
    padding: 20px;
}

