/***** BASE STYLES *****/

body {
	color: #2B2B2B;
	font-family: 'Source Sans Pro', sans-serif;
}

#about, #work, #contact {
    height: 600px;
}

/***** GRID *****/

.full-width {
    margin: 0 auto;
    width: 1200px;
}

.half-width {
    float: left;
    width: 600px;
}

.third-width {
    float: left;
    width: 400px;
}

/***** HEADER *****/

header { 
    background-image: url("../img/hero.png");
    background-color: #EBEBEB; /***(https://www.w3schools.com/cssref/pr_background-image.asp) Color should always be specified 
    in case image doesn't display***/
    background-size: cover;
    height: 800px;
}

header h1 { 
    color: #BBC085;
    font-family:'Lora', serif;
    padding: 65px 0 65px 25px;
}

header h2 {
    color: #9B9B9B;
    /*clear: both; /*NOT SURE ABOUT THIS* TRIED NONE, LEFT, RIGHT, BOTH - NOTHING CHANGES THE APPEARANCE*/
    font-family:'Lora', serif; 
    font-size: 72px;
    line-height: 80px;
    padding: 20px 0 20px 25px;
    width: 1000px;
}

header h2 span {
    color: #2B2B2B;
}

nav {
    float: right; 
    padding: 75px 25px;
}

nav ul li{
    display: inline-block;
}

nav ul li a {
    color: #828282;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    padding-left: 80px; 
}

/***** ABOUT *****/
/***WORKS IN LIVE, BUT IN DEV TOOLS SQUISHES LEFT***/

#about .full-width {
    padding: 80px 0;
}

#about h2 {
    font-family:'Lora', serif;
    font-size: 36px;
    padding-left: 50px;
}
 
#about p {
    color: #7F7F7F;
    font-size: 21px;
    line-height: 40px;
    padding-left: 50px;
    padding-right: 50px;
}

/***** WORK *****/
/***WORKS IN LIVE, BUT IN DEV TOOLS SQUISHES LEFT***/

#work {
    background-color: #F9CEB7;
    text-align: center;
}

#work .full-width {
    padding: 115px 0;
}

#work img {
    padding-bottom: 30px;
}

#work h3 {
    font-size: 24px;
    line-height: 32px;
    margin: 0 auto;
    width: 400px; 
}
 
#work p {
    font-family:'Lora', serif;
    font-size: 18px;
    line-height: 30px;
    padding: 0 50px;
}

/***** CONTACT *****/

#contact {
    background-color: #EBEBEB;
}   

#contact .full-width {
    padding: 110px 0;
}

#contact img#contact-img {
    border: 12px solid #ffffff;
    margin-left: 25px;   
}

#contact h2, #contact #email-header, #contact #socialmedia-header, #contact ul {
    padding-left: 115px;
}

#contact #envelope {
    padding: 0 10px 0 115px;
}

/***STEP 5***/

#contact h2 {
    font-family: 'Lora', serif;
    font-size: 36px;
    line-height: 44px;
}

#contact #email-header {
    font-size: 32px;
    font-weight: 100;
    line-height: 44px;
    margin: -30px 0 5px 0;
}

#contact #socialmedia-header {
    font-size: 29px;
    font-weight: bold; /***NECESSARY? IT WAS ALREADY BOLD...?***/
    line-height: 44px;
    margin: 40px 0 0 0;
}

#contact a {
    color: #C49075;
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
}

/***STEP 6 - STYLE SOCIAL MEDIA ICONS***/

#contact ul {
    list-style: none;
}

#contact ul li {
     display: inline-block;
}

#contact ul img {
    font-size: 32px;
    padding-right: 48px;
}

