/***** BASE STYLES *****/
@font-face {
    font-family: 'Wisdom Script Regular';
    font-style: normal;
    src: local('../Wisdom Script Regular'), /*EDITOR DOESN'T LIKE THE QUOTES HERE. WHY?*/
        url('../Wisdom Script AJ.woff') format('woff');
}

body {
	color: #2B2B2B;
	font-family: 'Montserrat', sans-serif;
}

span, nav, #welcome h2 {
    color: #77a466;
}

nav li, #specials li {
    font-weight: bold;
}

h1, h2, h3 {
    text-transform: uppercase;
    font-weight: bold;
}

#footer span {
    text-transform: lowercase;
}

/***** GRID *****/

.full-width {  
    margin: 0 auto;
    overflow: auto;
    width: 1200px;
}

/***** HEADER *****/ 

.title {
    float: left;
    font-family: 'Montserrat', sans-serif;
    width: 500px;
}

nav {
    float: right; 
}

nav ul li{
    display: inline-block;
    padding-left: 29px;
    padding-top: 20px;
}

nav ul li a {
    color: #77a466;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
}

/***** WELCOME *****/

#welcome {
    border-bottom: 1px solid grey;
    clear: both; 
}

#welcome h2 {
    padding-top: 10px;
}

#welcome p {
    margin-bottom: 30px;
}

/***** SPECIALS *****/

#specials {
    border-right: 1px solid grey; 
    float: left;
    height: 250px;
    margin: 0px 20px 0px 0px;
    padding: 10px;
    width: 350px;
}

#specials li {
    color: #77a466;
    line-height: 45px;
    list-style: none;
}

/***** REVIEWS *****/

#reviews {
    border-right: 1px solid grey;
    float: left;
    height: 250px;
    margin: 0px;
    padding: 10px;
    width: 450px;
}

/***** CONTACT *****/

#contact {
    float: left;
    height: 250px;
    margin: 0px 0px 0px 20px;
    padding: 10px;
    width: 270px;
}

#contact p {
    line-height: 15px;
}

/***** FOOTER *****/

#footer {
    border-top: 1px solid grey;
    clear: both;
    text-align: center;
    padding: 20px;
}

