/***** HEADER NAV SPACING BROKEN AGAIN :( *****/

/***** BASE STYLES *****/

body {
	color: #2B2B2B;
	font-family: 'Source Sans Pro', sans-serif;
}

span, nav, #welcome h2 {
    color: green;
}

h1, h2, h3 {
    text-transform: uppercase;
}

header, #welcome {
    padding-left: 25px;
}

/***** GRID *****/

/*.full-width {  *** TOOK THIS OUT BECAUSE IT WAS PUSHING EVERYTHING LEFT ***
    /*margin: 0 auto;
    width: 1200px;
}*/

/***** HEADER ***** TITLE AND NAV NOT ALIGNED AGAIN :( ***/

.title {
    float: left;
    width: 50%; /*600px*/
}

nav {
    float: right; 
    /*margin: 5px;*/
    /*padding: 1px;*/
    width: 50%; /*600px*/
    /*vertical-align: middle; *** DIDN'T CHANGE THE VERTICAL ALIGNMENT, EITHER IN THIS OR THE BLOCK BELOW ***/
}

nav ul li{
    display: inline-block;
    /*margin: 2px;*/
    padding: 8px;
    /*vertical-align: bottom; *** DIDN'T CHANGE THE VERTICAL ALIGNMENT, EITHER IN THIS OR THE BLOCK ABOVE ***/
}

nav ul li a {
    color: green;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    /*vertical-align: bottom; *** DIDN'T CHANGE THE VERTICAL ALIGNMENT, EITHER IN THIS OR THE BLOCK ABOVE ***/
}

/***** WELCOME *****/

#welcome {
    border-bottom: 1px solid grey;
    clear: both; 
}

#welcome p {
    margin-bottom: 30px;
}

/***** SPECIALS *****/

#specials {
    border-right: 1px solid grey; /*** BORDER IS ONLY PARTIAL...? ***/
    float: left;
    height: 200px;
    margin: 20px;
    padding: 20px;
    width: 400px;
}

#specials li {
    color: green;
    list-style: none;
}

/***** REVIEWS *****/

#reviews {
    border-right: 1px solid grey; /*** BORDER IS ONLY PARTIAL...? ***/
    float: left;
    height: 200px;
    margin: 20px;
    padding: 20px;
    width: 400px;
}


/***** CONTACT *****/

#contact {
    float: left;
    height: 200px;
    margin: 20px;
    padding: 20px;
    width: 400px;
}

#contact p {
    line-height: 5px;
}

/***** FOOTER *****/

#footer {
    border-top: 1px solid grey;
    clear: both;
    text-align: center;
    padding: 20px;
}